:root {
  --color-lightblue-100: #f3f5fc;
  --color-lightblue-200: #eff1fa;
  --color-lightblue-300: #e9ecf8;
  --color-lightblue-400: #aab2d5;
  --color-lightblue-500: #757fb2;

  --color-darkblue-100: #609ed4;
  --color-darkblue-200: #356ea9;
  --color-darkblue-300: #0a3871;
  --color-darkblue-400: #072b61;
  --color-darkblue-500: #052051;

  --color-gray-100: #ced4da;
  --color-gray-200: #adb5bd;
  --color-gray-300: #868e96;
  --color-gray-400: #495057;
  --color-gray-500: #343a40;

  /*colores K*/
  --color-morado: #954a9c;
  --color-purpura: #652777;
  --color-violeta: #442674;
  --backgroundcolor-azul: #537fc0;
  --backgroundcolor-celeste: #68b3e4;
  --backgroundcolor-azulclaro: #3385c6;
}

* {
  padding: 0;
  margin: 0;
}
/*formato del contenedor */

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  font-size: 20px;
  color: var(--color-darkblue-400);
}

/*formato logo página*/
.header {
  background-color: var(--color-lightblue-200);
  font-weight: 400;
  padding: 1%;
}
.header__logo {
  width: 60px;
  height: auto;
}

/*este contiene el encriptador*/
.container {
  display: flex;
  justify-content: flex-start;
  background-color: var(--color-darkblue-500);
  padding: 30px;
}

label {
  font-family: "Roboto", sans-serif;
}

/*salida del mensaje*/
.container__entrada {
  background-color: var(--color-lightblue-100);
  width: 100%;
}

.container__entrada__texto {
  padding: 15px;
}

textarea::placeholder {
  color: var(--color-darkblue-200);
  text-shadow: 1px 2px 1px var(--color-gray-200);
  padding: 10px;
}

.container__entrada__mensaje {
  width: 97%;
  color: var(--color-darkblue-400);
  background-color: var(--color-lightblue-100);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: left;
  border: none;
  text-decoration: none;
  resize: none;
  padding: 10px;
}

/*BOTONES */
.container__botones {
  display: block;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: var(--color-gray-100);
}

/*BOTON ENCRIPTAR MENSAJE*/
.container__botones__encriptar {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: var(--color-lightblue-200);
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--color-darkblue-400);
  width: 12rem;
  border: none;
  border-radius: 1rem;
}

.container__botones__encriptar:hover {
  background-color: var(--color-darkblue-200);
  color: var(--color-darkblue-400);
}

/*BOTON DESENCRIPTAR MENSAJE*/
.container__botones__desencriptar {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: var(--color-darkblue-400);
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--color-lightblue-200);
  width: 12rem;
  border: none;
  border-radius: 1rem;
}

.container__botones__desencriptar:hover {
  background-color: var(--color-darkblue-200);
  color: var(--color-lightblue-200);
}

/*seccion donde se ingresa el mensaje*/
.container__salida {
  display: inline-block;
  text-align: center;
  padding: 1rem;
  color: var(--color-darkblue-400);
  background-color: var(--color-gray-100);
  width: 100%;
  height: auto;
}

h6,
svg {
  display: flex;
  justify-content: center;
}

/*CONTAINER SALIDA DEL MENSAJE */
.container__salida__imagen {
  width: 336px;
  height: 304px;
  background-color: rgb(243, 195, 195);
}

.container__salida__mensaje {
  color: var(--color-darkblue-400);
  background-color: var(--color-lightblue-500);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: left;
  padding: 10px;
}

#textoSalida {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  width: 100%;
  height: 250px;
  color: var(--color-gray-500);
  background-color: rgb(226, 109, 109);
}

/*BOTÓN PARA COPIAR MENSAJE*/
.container__salida__boton__copiar {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: var(--color-lightblue-200);
  font-weight: bold;
  margin-top: 5.4rem;
  padding: 1rem;
  width: 12rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--color-darkblue-400);
}

.container__salida__boton__copiar:hover {
  background-color: var(--color-darkblue-200);
  color: var(--color-darkblue-400);
}

/*footer de la página*/
footer {
  background-color: var(--color-lightblue-200);
  text-align: center;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
